body{
    background-color: lightgrey;
}
.haut{
    height: 150px;
    background: dodgerblue;
}
.my-btn{
    border: solid 1px;
    border-radius: 5px;
    padding: 4px;
    color: black;
}
a.my-btn{
    text-decoration: none;
}
#cadre{
    margin: 10px auto;
}
.formulaire{
    padding: 20px;
}